* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  font-size: 24px;
  color: rgb(82, 82, 82);
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  min-height: 100%;
}

.search {
  background-color: rgb(184, 226, 226);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__wrapper{
  display: flex;
  background-color: rgb(184, 226, 226);
  justify-content: flex-start;
  width: 100%;
}

.search__content {
  width: 100%;
  height: 70px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(252, 200, 136);
  display: flex;
  justify-content: center;
}

.search__input {
  font-family: 'Courier New',
    Courier,
    monospace;
  font-size: 16px;
  margin: 15px 5px 15px 5px;
  padding-left: 10px;
  width: 520px;
  height: 40px;
  border-style: none;
}

.search__input:focus {
  outline: 0;
}

.search__input::placeholder {
  color: #747171;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.search__btn {
  color: #414040;
  font-family: 'Courier New',
    Courier,
    monospace;
  margin: 15px 5px 15px 5px;
  padding: 5px;
  width: 90px;
  height: 40px;
  border-style: none;
}

.search__btn:focus {
  outline: 0;
}

.search__btn:hover {
  background-color: #dddddd;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24),
  0 2px 5px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.text {
  background-color: rgb(184, 226, 226);
  width: 100%;
  /* margin-left: 20%;
  margin-right: 20%; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 auto;
}

.text__rus {
  width: 50%;
  min-height: 250px;
  margin-left: 10%;
  background-color: rgb(252, 200, 136);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text__rus__wrapper {
  background-color: white;
  margin: 15px 5px 15px 15px;
  padding: 10px;
  min-height: 200px;
  width: 290px;
}

.text__translit {
  width: 50%;
  min-height: 250px;
  margin-right: 10%;
  background-color: rgb(252, 200, 136);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text__translit__wrapper {
  background-color: white;
  margin: 15px 15px 15px 5px;
  padding: 10px;
  min-height: 200px;
  width: 290px;
}

.footer {
  background-color: rgb(184, 226, 226);
  width: 100%;
  height: 20px;

}

@media (min-width: 769px) and (max-width: 1024px) {
  .text__rus__wrapper {
    width: 220px;
  }

  .text__translit__wrapper {
    width: 220px;
  }

  .search__input {
    width: 380px;
    height: 40px;
  }

  .wrapper {
    font-size: 20px;
  }

  .search__input {
    font-size: 14px;
  }

  .search__input::placeholder {
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .wrapper {
    font-size: 16px;
  }

/*   .search__content {
    margin-left: 10%;
    margin-right: 10%;
  }
   */
  /* .search {
    background-color: black;

  } */
  .search__content {
    align-items: center;

  }

  .search__input {
    width: 80%;
    
    margin-left: 10%;
    /* min-width: 380px; */
    height: 40px;
  }

  .search__btn {
    margin-right: 10%;
    
    width: 90px;
  }

  .search__input {
    font-size: 14px;
  }

  .search__input::placeholder {
    font-size: 14px;
  }

  .text {
    flex-direction: column;
    justify-content: flex-start;
  }

  .text__rus {
    width: 80%;
    min-height: 150px;
    align-items: flex-start;
    align-items: center;
    margin-left: 10%;
  }

  .text__translit {
    width: 80%;
    min-height: 150px;
    align-items: center;
    margin-left: 10%;
  }

  .text__translit__wrapper {
    margin-left: 15px;
    min-height: 100px;
    width: 80%;
  }

  .text__rus__wrapper {
    width: 80%;
    min-height: 100px;
    margin: 15px;
  }
}
